.main-container-create-dashboard-modals-IV {
  width: 100%;
  background-color: #1b2534;
}
.header-create-dashboard-IV {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1300px;
  background-color: #1b2534;
  margin: auto;
}
.container-dashboard-modals-IV {
  display: flex;
  flex-direction: column;
  background-color: #1b2534;
  padding-top: 30px;
  padding-bottom: 500px;
  width: 1300px;
  position: relative;
  margin: auto;
}
.first-row-dashboard-modals-IV {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
}
.container-dashboard-four {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container-table-dashboard-IV {
  display: flex;
  flex-direction: row;
}
.first-row-table-dashboard-IV {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.second-row-table-dashboard-IV {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.first-column-dashboard-IV {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 10px;
}
.first-column-dashboard-IV p {
  color: #1c9ca7;
  font-size: 0.675rem;
  line-height: 1rem;
  font-weight: 600;
  margin: 0;
}
.second-column-dashboard-IV {
  display: flex;
  gap: 5px;
  padding: 0px 35px;
  align-items: center;
}
.third-column-dashboard-IV {
  display: flex;
  gap: 5px;
  padding: 0px 35px;
  align-items: center;
}
.fourth-column-dashboard-IV {
  display: flex;
  gap: 5px;
  padding: 0px 35px;
}
.fifth-column-dashboard-IV {
  display: flex;
  gap: 5px;
  padding: 0px 35px;
}
.second-row-table-dashboard-IV {
  padding: 0px 30px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 70px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.second-row-table-dashboard-IV table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.second-row-table-dashboard-IV th,
.second-row-table-dashboard-IV td {
  border: 1px solid rgba(255, 255, 255, 0.23);
  padding: 8px;
  text-align: left;
}

.second-row-table-dashboard-IV th {
  color: white;
  font-weight: bold;
}
.second-row-table-dashboard-IV th,
.second-row-table-dashboard-IV td {
  padding: 12px 40px;
}

.second-row-table-dashboard-IV th:first-child,
.second-row-table-dashboard-IV td:first-child {
  border-left: 2px solid rgba(255, 255, 255, 0.23);
}

.second-row-table-dashboard-IV th:last-child,
.second-row-table-dashboard-IV td:last-child {
  border-left: 2px solid rgba(255, 255, 255, 0.23);
}

.second-row-table-dashboard-IV th {
  white-space: nowrap;
}

.second-row-table-dashboard-IV td {
  white-space: nowrap;
}
.average-sale-container-dashboard-IV {
  display: flex;
  gap: 20px;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.setting-dashboard-IV {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c9ca7;
  border-radius: 3px;
  padding: 2px;
  cursor: pointer;
}
.button-dashboard-modal-IV {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
}
.db-IV {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-group-sign-in-row-I-dm-VV {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
  width: 100%;
  // width: 1170px;
  border: 1px solid #2a374a;
  border-radius: 10px;
  background-color: #2a374a;
  margin-top: 30px;
}
.input-details-sign-in-row-I-dm-VV {
  background-color: #2a374a;
  padding: 0px 10px;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 600;
}
.input-group-sign-in-row-I-dm-VV input {
  flex: 1;
  border: none;
  outline: none;
}
.another-column-dashboard-IV {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  color: #1c9ca7;
  justify-content: space-between;
}
.another-button-dashboard-IV {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 20px;
}
