.main-container-forget-password-II {
  width: 100%;
  .Toastify__toast-container {
    position: absolute;
    top: 1.5%;
    left: 55%;
    transform: translateX(-50%);
    margin-top: 440px;
  }
}

.header-container-forget-password-II {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 50px;
}
.form-header-forget-password-II {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.form-header-text-forget-password-II-div {
  padding-bottom: 5px;
}

.form-header-text-sign-in-page {
  color: white;
  font-size: 1.7rem;
  font-weight: 400;
}

.code-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.code-entry {
  display: flex;
  gap: 10px;
}

.code-entry input {
  width: 40px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  background-color: #2a374a;
  color: #ffffff;
}

.side-logo-sign-in-page img {
  width: 60px;
  height: auto;
}

.form-sign-in-fp-II {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 52px;
  margin-top: 60px;
}
.code-div {
  position: relative;
}
