.main-container-account-settings-security {
  width: 100%;
}
.container-account-settings-security {
  display: flex;
  flex-direction: coloumn;
}
.account-settings-security {
  display: flex;
  padding: 15px;
  gap: 10px;
  align-items: center;
}
.account-settings-security-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0px 15px;
}
.account-settings-security-header p {
  color: #1c9ca7;
  font-weight: 600;
  font-size: 1.1rem;

  @media (max-width: 786px) {
    font-size: 0.875rem;
  }
}
@media (max-width: 768px) {
  .account-settings-security {
    gap: 6px;
    padding: 25px 15px;
  }

  .account-settings-ci-paragraph {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .account-settings-security img {
    width: 36px;
    height: 36px;
  }
}
