.main-container-work-space-save {
  padding: 5px 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.work-space-save-container {
  padding: 5px 15px 10px;
  width: 100%;
  border: 1px solid #4a5568;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  background-color: #354153;
  border-radius: 10px;
}
