.main-container-create-dashboard-modals-III{
    width: 100%;
    background-color: #1B2534;
}
.header-create-dashboard-III{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1300px;
    background-color: #1B2534;
    margin: auto;
}
.container-dashboard-modals-III{
    display: flex;
    flex-direction: column;
    background-color: #1B2534;
    padding-top: 30px;
    padding-bottom: 500px;
    width: 1300px;
   position: relative;
   margin: auto;
}
.first-row-dashboard-modals-III{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 400;
}
.third-row-dashboard-modals-III{
    position: absolute;
    top: 16.5%;
    left:60.2%;
}
.fourth-row-dashboard-modals-III{
    position: absolute;
    left: 27.7%;
    top: 10.2%;
}
.fifth-row-dashboard-modals-III{
 position: absolute;
 left: 38.5%;
 top: 10.2%;
}
.sixth-row-dashboard-modals-III{
    position: absolute;
 left: 49.3%;
 top: 10.2%;
}
.form-container-create-dashboard-III{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-container-create-dashboard-III-input-details{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 40px 90px;
}
.input-group-sign-in-row-I-dm-III{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border: 1px solid #2A374A;
    padding:13.5px 5px;
    width: 350px;
    border-radius: 5px;
    background-color: #2A374A;
}
.input-details-sign-in-row-I-dm-III{
    background-color: #2A374A;
  }
  .input-group-sign-in-row-I-dm-III input {
    flex: 1;
    border: none;
    outline: none;
  }
  .button-dashboard-modal-III{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 90px;
    margin-top: 80px; 
}