.main-container-save-user {
  padding: 10px 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.save-user-container {
  padding: 20px;
  width: 100%;
  background-color: transparent;
  border: 2px solid #8b99ad;
  background-color: #374151;
  border-radius: 10px;
}
