.main-container-card-I {
  display: flex;
  flex-direction: column;
  border: 2px solid #1c9ca7;
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
  border-radius: 10px;
  padding: 3px;
}
.card-I-column-I {
  background-color: #1b2534;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 90px;
  border-radius: 10px;
}
.card-I-column-I-logo {
  background-color: #1c9ca7;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 100px;
}
.card-I-column-II {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-I-column-II-para-I {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
}
.card-I-column-II-para-II {
  color: #87919f;
  font-size: 0.7275rem;
  line-height: 1rem;
  font-weight: 500;
}
