.main-container-account-settings {
  width: 100%;
}
.container-account-settings {
  display: flex;
  flex-direction: coloumn;
}
.account-settings {
  display: flex;
  padding: 15px;
  gap: 10px;
  align-items: center;
}
.accnt-sttng-para {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #ffffff;
}
.account-settings-card-component-container {
  display: flex;
  flex-direction: row;
  padding: 15px;
  gap: 10px;

  @media (max-width: 768px){
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }
}

