.main-container-forget-pass-I {
  width: 100%;
}
.form-header-forget-password-I {
  font-size: 1.3rem;
}
.header-container-forget-password-I {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 370px;
}
.form-header-text-forget-password-div {
  margin-left: 410px;
}
.progress-bar-forget-password-I {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.progress-I-fp-I {
  position: relative;
}
.custom-error-I {
  color: red;
  font-size: 0.8275rem;
  line-height: 1rem;
  padding-left: 100px;
}

.input-group-fp-I {
  display: flex;
  align-items: center;
  margin-left: 100px;
  border: 1px solid #2a374a;
  padding: 5px;
  width: 800px;
  border-radius: 5px;
  background-color: #2a374a;
}
.input-group-fp-I input {
  flex: 1;
  border: none;
  outline: none;
  background-color: #2a374a;
  color: White;
}
.button-fp-I {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 85px;
  margin-top: 120px;
}
.btn-fp-I {
  display: flex;
  align-items: center;
  gap: 5px;
}
.line-fp-I {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-sign-in-fp-I {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 85px;
  margin-top: 50px;
}
