.main-container-login-page {
  width: 100%;
}
.container-login-page {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
}
.login-page-select-option {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
.hide {
  display: none;
}
.select-option {
  border-radius: 7px;
  border: 2px solid white;
  background-color: #1b2534;
  color: white;
  font-size: 0.7rem;
}
.select-option:hover {
  border: 2px solid black;
}
.form-container {
  display: flex;
  flex-direction: column;
  border: 1.5px solid black;
box-shadow: 0 2px 6px rgba(255, 255, 255, 0.05),
              0 0 12px rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  // background-color: #1b2534;
  background-color: #354153;
  padding: 25px 10px;
  width: 430px;
}
.form-header-text {
  color: white;
  font-size: 2.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
// Form css
form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.input-details {
  background-color: #2a374a;
  color: white;
  border: none;
  width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 1.4rem;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #2a374a;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #2a374a;
}

.input-group .icon {
  margin-right: 0.5rem;
}

.input-group input {
  flex: 1;
  border: none;
  outline: none;
}

button {
  padding: 8px;
  border: none;
  border-radius: 5px !important;
  background-color: #1c9ca7;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem !important;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}

.form-text {
  display: flex;
  font-size: 0.8rem;
  color: red;
}

.custom-error {
  font-size: 0.8rem;
  color: red;
  margin-top: 0.1rem;
  display: flex;
  padding-left: 3px;
}
.button-text-div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form-button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.form-link a {
  text-decoration: none;
  color: #1c9ca7;
}
.form-link-i {
  text-decoration: none;
  color: white;
}
.form-link-i:hover {
  color: #1c9ca7;
}
// .button-1 {
//   background-color: transparent;
//   border: 2px solid white;
// }
.login-help-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}
.login-hepl-image {
  display: flex;
}
.login-help-link a {
  text-decoration: none;
  color: #1c9ca7;
}
.btn-create {
  padding: 8px;
  border: 1px solid white;
  border-radius: 5px !important;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem !important;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-create:hover {
  background-color: #6c757d;
  font-weight: 600;
}
