.main-container-create-dashboard-modals-II{
    width: 100%;
    background-color: #1B2534;
}
.header-create-dashboard-II{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1300px;
    background-color: #1B2534;
    margin: auto;
}
.container-dashboard-modals-II{
    display: flex;
    flex-direction: column;
    background-color: #1B2534;
    padding-top: 30px;
    padding-bottom: 500px;
    width: 1300px;
   position: relative;
   margin: auto;
}
.first-row-dashboard-modals-II{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 400;
}
.third-row-dashboard-modals-II{
    position: absolute;
    top: 14.5%;
    left:49.6%;
}
.fourth-row-dashboard-modals-II{
    position: absolute;
    left: 27.7%;
    top: 9.2%;
}
.fifth-row-dashboard-modals-II{
 position: absolute;
 left: 38.5%;
 top: 9.2%;
}
.container-cards-dashboard-modal-II{
    display: grid;
    grid-template-columns: repeat(7, 1fr); // 8 columns
    gap: 16px;
    padding: 48px;
}
.card-I-dashboard-modal-II{
    display: flex;
    flex-direction: column;
    border: 5px solid rgba(255, 255, 255, 0.05) ;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05)  ;
    align-items: center;
    cursor: pointer;
    
}
.card-I-dashboard-modal-II:hover{
    border: 5px solid #1C9CA7 ;
}
.button-dashboard-modal-II{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 80px; 
}