.main-container-forget-password-III{
    width: 100%;
}
.form-header-forget-password-III{
    font-size: 1.3rem;
}
.header-container-forget-password-III{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 310px;
}
.form-header-forget-password-III-div{
    margin-left: 390px;
}
.progress-bar-forget-password-III{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 127px;
    margin-top: 35px;
}
.progress-sp-III-I-image-I-fp-III{
    position: absolute;
    left:48.7%;
    top: 13%;
  }
  .progress-sp-III-I-image-III-fp-III{
      position: absolute;
      top: -50%;
      left: 47%;
  }
  .progress-sp-III-II-image-I-fp-III{
    position: absolute;
    top: 10.5%;
    left: 52.8%;
}
.progress-sp-III-III-fp-III{
    position: absolute;
    left: 75.3%;
    top: 1%;
}
.progress-sp-III-III-image-I-fp-III{
    position: absolute;
    top: 23%;
    left: 37%;
}
.progress-sp-III-III-image-III-fp-III{
    position: absolute;
    top: -50%;
    left: 22%;
}
.progress-sp-III-IV--image-I-fp-III{
position: absolute;
left: 83%;
top: 10%;
}
.progress-sp-III-V-fp-III{
    position: absolute;
    left: 105.5%;
    top: -0.7%;
}
.progress-sp-III-V-image-II-fp-III{
    position:absolute;
    left: 37%;
    top: 14%;
}
.progress-sp-III-V-image-III-fp-III{
    position: absolute;
    top: 60%;
    left: 33%;
}
.button-fp-III{
  display: flex;  
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 86px;
  margin-top: 60px;
}