.main-container-forget-password-III {
  width: 100%;
}
.form-header-forget-password-III {
  font-size: 1.3rem;
}
.header-container-forget-password-III {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 310px;
}
.form-header-forget-password-III-div {
  margin-left: 390px;
}
.progress-bar-forget-password-III {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 127px;
  margin-top: 35px;
}

.button-fp-III {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 86px;
  margin-top: 60px;
}
