.main-container-sign-in-page-III {
  width: 100%;
}
.container-sign-in-page-III {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  margin: auto;

  @media (max-width: 768px) {
    width: 100%;
    padding: 20px;
    justify-content: center;
    min-height: 100vh;
  }
}
.select-login-page-III {
  width: 400px;
  padding: 5px;
  font-size: 13px;
  background-color: #2a374a;
  border: none;
  color: grey;
}
select:invalid {
  color: grey;
}
option:not(:first-child) {
  color: #ffffff;
}

