.main-container-sign-in-page-III {
  width: 100%;
}
.container-sign-in-page-III {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin: auto;
}
.header-container-sign-in-page-III {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 370px;
}
.progress-bar-sign-in-page-III {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 180px;
  margin-top: 15px;
}

.select-login-page-III {
  width: 400px;
  padding: 5px;
  font-size: 13px;
  background-color: #2a374a;
  border: none;
  color: grey;
}
select:invalid {
  color: grey;
}
option:not(:first-child) {
  color: #ffffff;
}
