.main-container-dataset-I{
    width: 100%;
    background-color: #1B2534;
}
.header-dataset-I{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1300px;
    background-color: #1B2534;
    margin: auto;
}
.container-dataset-I{
    display: flex;
    flex-direction: column;
    background-color: #1B2534;
    padding-top: 30px;
    padding-bottom: 500px;
    width: 1300px;
   position: relative;
   margin: auto;
}
.first-row-dataset-I{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 400;
}
.second-row-dataset-I{
    display: flex;
    padding-right: 276px;
    padding-top: 5px;
}
.third-row-dataset-I{
    position: absolute;
    left: 90%;
}
.cards-container-dataset-I{
    display: grid;
    grid-template-columns: repeat(9, 1fr); // 4 columns
    gap: 16px;
    padding: 10px; 
}
.card-I-dataset-I{
    display: flex;
    flex-direction: column;
    border: 5px solid rgba(255, 255, 255, 0.05) ;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05)  ;
    align-items: center;
    cursor: pointer;
}
.card-I-dataset-I:hover{
    border: 5px solid #1C9CA7 ;
}
.button-dataset-I{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 80px; 
}