.main-container-sign-in-page-II {
  width: 100%;
}
.container-sign-in-page-II {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin: auto;
}
.header-container-sign-in-page-II {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 370px;
}
.progress-bar-sign-in-page-II {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 180px;
  margin-top: 5px;
}

.paragrapgh-I-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 100px;
}
.paragraph-I {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 500;
}
.paragraph-II {
  font-size: 0.8rem;
  font-weight: 600;
  color: #b0bfd4;
}
.code-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.code-entry {
  display: flex;
  gap: 10px;
}

.code-entry input {
  width: 40px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  background-color: #2a374a;
  color: #ffffff;
}

.code-entry button {
  margin-left: 10px;
}
.code-resend-sp-II {
  color: #1c9ca7;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}
.code-resend-sp-II:hover {
  text-decoration: wavy;
  font-weight: 600;
}
.proceed-button {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  padding-right: 50px;
}
