.main-container {
  width: 100%;
}
.container-grids {
  padding: 10px;
}

.content-grids {
  width: 100%;
  height: auto;
  border-radius: 10px;
  // display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.grid-item {
  background-color: transparent;
  border: 1px dotted #ccc;
  border-radius: 8px;
  padding: 15px;
  height: max-content;
  width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.grid-body {
  line-height: 1.5rem;
  color: black;
}

.button-header-grid{
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: flex-start;
  @media (max-width: 768px) {
    padding: 10px 20px;
  }
}

.btn-header-grid {
  display: inline-flex; 
  background-color: #1C9CA7;
  color: white;
  padding: 10px 15px;
  width: auto; 
  max-width: 200px; 
}
@media (max-width: 768px) {
  .btn-header-grid {
    width: auto;
  }
}